@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html,
body {
    font-family: 'Inconsolata', monospace;
}

.kmap {
    display: inline-block;
    width: 7cm;
    height: 7cm;
    margin: 2cm 1cm 0cm 1cm;
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
}

.row {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 20%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 20%;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cell.jvalue {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.cell > span {
    font-size: 5mm;
}

.cell.jvalue > span {
    margin-right: 10%;
    margin-bottom: 5%;
    font-size: 4mm;
    color: #aeaeae;
}
